{
    "version": "{{version}}",
    "description": "{{package_name}} for Dlang",
    "license": "Apache-2.0",
    "name": "{{package_name}}",
    "configurations": [
        {
            "name": "library",
            "targetType": "sourceLibrary"
        }
    ],
    "dependencies": {
        {{#depends}}
        "{{name}}": "*",
        {{/depends}}
        "ros2_d:rcl_bind": "*"
    }
}
