// dfmt off
module {{moduleName}};

import std.string;
import std.utf;
import {{cModuleName}};
{{#depends}}
import {{name}};
{{/depends}}
{{#messages}}
struct {{name}}
{
    {{#members}}
    {{type}} {{name}}{{#default?}} = {{{value}}}{{/default?}};
    {{/members}}
}
{{/messages}}
